@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap");
html,
body {
  font-family: "DM Sans", sans-serif;
  color: #212529;
  font-size: 16px;
  line-height: 26px;
}

.restrictWidth {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
}

/* general */
h1,
h2,
h3,
h4 {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
}

.subtitle {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 60px;
  line-height: 72px;
}

h2 {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 0.4rem;
}

h3 {
  font-size: 35px;
  line-height: 42px;
}

h4 {
  font-size: 25px;
  line-height: 30px;
}

::-moz-placeholder {
  color: #C3C3C3 !important;
}

:-ms-input-placeholder {
  color: #C3C3C3 !important;
}

::placeholder {
  color: #C3C3C3 !important;
}

.entry-title {
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 20px;
  font-weight: 700;
}

.page-title {
  font-size: 60px;
  line-height: 72px;
}

.subtitle {
  font-size: 18px;
  line-height: 27px;
  color: #343a40;
  font-weight: 500;
}

header {
  padding-bottom: 25px;
}

.btn-primary {
  background-color: #FD7E14;
  border-color: #FD7E14;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #ffcc33 !important;
  border-color: #ffcc33 !important;
}
.btn-primary.large-btn {
  padding: 12px 20px;
  font-size: 16px;
}

.section-padding {
  padding: 70px 0;
}
.section-padding.pointers {
  padding: 40px 0;
}

.section-padding-40 {
  padding: 50px 0;
}

.section-padding-bottom {
  padding-bottom: 0;
}

.section-padding-top-0 {
  padding-top: 0;
}

.section-padding-top-50 {
  padding-top: 50px;
}

.section-padding-top-30 {
  padding-top: 30px;
}

.section-padding-bottom-50 {
  padding-bottom: 50px;
}

.section-heading {
  text-transform: uppercase;
  color: #212529;
  font-family: "Rajdhani", sans-serif;
}

.btn {
  display: inline;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  padding: 6px 20px;
  border-radius: 4px;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 14px;
}
.btn.login-button {
  width: 100%;
  color: #FFFFFF;
  padding: 8px 20px;
  border-radius: 3px;
}
.btn.login-button:disabled {
  background-color: #808284;
}
.btn.btn-border-only {
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  padding: 10px 26px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.btn.btn-border-only:hover {
  background-color: #FD7E14;
  color: #FFFFFF;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-success {
  background-color: #12ce29;
  border: none;
}
.btn-success:focus, .btn-success:active, .btn-success:not(:disabled):not(.disabled):active, .btn-success:hover {
  background-color: #389E0D;
}

.btn-danger {
  background-color: #fd4344;
  border: none;
}
.btn-danger:focus, .btn-danger:active, .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:hover {
  background-color: #CF1322;
}

.btn-secondary {
  background-color: #808284;
  border: none;
}

.light-gray-bg {
  background-color: #f4f4f4;
}

.white-bg {
  background-color: #FFFFFF;
}

.error {
  color: #fd4344;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
}

.section-breadcrumb .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 0.4rem;
  font-size: 12px;
}
.section-breadcrumb .breadcrumb a {
  color: #FD7E14;
}

/*  menu  */
#mainNav {
  height: 70px;
}
#mainNav .navbar-nav .nav-item {
  margin-right: 25px;
}
#mainNav .navbar-nav .nav-item.active .nav-link {
  color: #FD7E14;
}
#mainNav .navbar-nav .nav-item .nav-link {
  color: #212529;
}
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #FD7E14;
}
#mainNav .navbar-toggler {
  background-color: #ffcc33;
  padding: 10px;
  line-height: 0;
}

.navbar-brand img {
  width: 160px;
}

#page-content {
  min-height: 300px;
}
#page-content .sidebar.astro-sidebar .sidebar-title {
  background-color: #ffcc33;
  padding: 16px 14px;
  border-radius: 6px 6px 0 0;
}
#page-content .sidebar.astro-sidebar .sidebar-title P {
  font-weight: 700;
  margin-bottom: 0;
}
#page-content .sidebar.astro-sidebar .sidebar-title span {
  font-size: 14px;
}
#page-content .sidebar.astro-sidebar .astro-faqs {
  padding-left: 0;
  list-style: none;
  border: 1px solid #eaeaea;
  border-top: none;
  border-radius: 0 0 6px 6px;
}
#page-content .sidebar.astro-sidebar .astro-faqs li {
  font-size: 14px;
  padding: 12px 14px;
  border-bottom: 1px solid #eaeaea;
}
#page-content .sidebar.astro-sidebar .astro-faqs li:last-child {
  border-bottom: none;
}
#page-content .sidebar.image-add {
  margin-top: 35px;
}
#page-content .home-astrologers {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 16px;
  margin-bottom: 40px;
}
#page-content .home-astrologers > div {
  border: 1px solid #eaeaea;
  border-radius: 6px;
  padding: 15px 15px 15px 0;
  flex: 1 1 48%;
  max-height: 250px;
  overflow: hidden;
}
#page-content .astro-card {
  display: flex;
}
#page-content .astro-card .astro-passport {
  flex: 0 0 120px;
}
#page-content .astro-card .astro-image {
  width: 85px;
  height: 85px;
  outline: 2px solid rgba(18, 206, 41, 0.4);
  border: 2px solid #FFFFFF;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto 10px auto;
}
#page-content .astro-card .astro-image img {
  width: 100%;
}
#page-content .astro-card .astro-rating {
  background-color: #ffcc33;
  max-width: 56px;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 3px;
}
#page-content .astro-card p {
  margin-bottom: 0;
}
#page-content .astro-card .astro-detail {
  font-size: 14px;
  width: 100%;
}
#page-content .astro-card .astro-detail .astro-name {
  font-size: 16px;
  font-weight: 700;
}
#page-content .astro-card .astro-detail .astro-name a {
  color: #343a40;
  text-decoration: none;
}
#page-content .astro-card .astro-detail .astro-exp {
  font-weight: 500;
  color: #343a40;
  margin-top: -4px;
}
#page-content .astro-card .astro-detail .astro-lang {
  margin-top: 4px;
}
#page-content .astro-card .astro-detail .astro-type {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  height: 48px;
  overflow: hidden;
  align-items: center;
}
#page-content .astro-card .astro-detail .astro-type span {
  line-height: 16px;
  padding: 2px 5px;
  margin-right: 6px;
  margin-bottom: 6px;
  background-color: #eaeaea;
  border-radius: 3px;
}
#page-content .astro-card .astro-detail .action-item {
  display: flex;
  margin-top: 12px;
  align-items: center;
}
#page-content .astro-card .astro-detail .action-item > div {
  flex: 1;
}
#page-content .astro-card .astro-detail .action-item > div p {
  line-height: 16px;
}
#page-content .astro-card .astro-detail .action-item .offer-price {
  font-size: 16px;
  font-weight: 700;
}
#page-content .astro-card .astro-detail .action-item .offer {
  color: #fd4344 !important;
  text-decoration: line-through;
}
#page-content .astro-card .astro-detail .action-item .btn {
  display: inline-block;
  max-width: 78px;
  width: 100%;
  height: 30px;
  padding: 6px 4px;
}
#page-content .astro-card .astro-detail .action-item .astro-availability {
  text-align: right;
}
#page-content .astro-card .astro-detail .action-item .astro-availability .action-btn {
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #12ce29;
  padding: 6px 20px;
  border-radius: 4px;
  letter-spacing: 1px;
  text-decoration: none;
}
#page-content .astro-card .astro-detail .action-item .astro-availability .action-btn:hover {
  background-color: #389E0D;
}
#page-content .astro-card.busy .astro-image {
  outline-color: rgba(253, 67, 68, 0.4);
}
#page-content .astro-card.busy .astro-availability .action-btn {
  background-color: #fd4344 !important;
}
#page-content .astro-card.busy .astro-availability .action-btn:hover {
  background-color: #CF1322 !important;
}
#page-content .astro-card.busy .astro-availability .wait-time {
  display: block;
  color: #fd4344;
  font-size: 10px;
  font-weight: 600;
}
#page-content .astro-card.offline .astro-image {
  outline-color: rgba(128, 130, 132, 0.4);
}
#page-content .section-cta {
  margin-bottom: 50px;
}
#page-content .section-cta .btn {
  display: inline-block;
}

.side-img-content-box {
  border: 1px solid #f4f4f4;
  border-radius: 6px;
  overflow: hidden;
}
.side-img-content-box .sidebar-title {
  padding: 20px 15px;
  background-color: #f4f4f4;
  margin-bottom: 20px;
  font-family: "Rajdhani", sans-serif;
}
.side-img-content-box .sidebar-title p {
  margin-bottom: 0;
  font-weight: 700;
}
.side-img-content-box .box-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 15px;
}
.side-img-content-box .box-item .image {
  margin-right: 15px;
}
.side-img-content-box .box-item img {
  width: 55px;
}
.side-img-content-box .box-item .content p {
  color: #343a40;
  font-weight: 500;
  margin-bottom: 0;
}

.pointers {
  background-color: #ffcc33;
  text-align: center;
}
.pointers .pointer-item:nth-child(2) {
  border-left: 1px solid #606366;
  border-right: 1px solid #606366;
}
.pointers .pointer-wrapper .number {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  margin-bottom: 0;
  font-family: "Rajdhani", sans-serif;
}
.pointers .pointer-wrapper .number span {
  font-size: 25px;
}
.pointers .pointer-wrapper .pointer-text {
  font-weight: 500;
  margin-bottom: 0;
  color: #343a40;
}

.in-news .news-wrapper {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.in-news .news-wrapper .new-item {
  width: 18.4%;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  height: 70px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.in-news .news-wrapper .new-item img {
  max-width: 100%;
  padding: 10px;
}

.feature-box {
  text-align: center;
  padding: 15px;
  border-radius: 6px;
  margin-top: 20px;
}
.feature-box.bg-color-1 {
  background-color: #ffe4d3;
}
.feature-box.bg-color-2 {
  background-color: #ffe8e6;
}
.feature-box.bg-color-3 {
  background-color: #e6e6ff;
}
.feature-box.text-box {
  border: 2px solid #FD7E14;
}
.feature-box.text-box span {
  font-size: 35px;
  line-height: 45px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
}
.feature-box.text-box a {
  color: #FD7E14;
}
.feature-box a {
  color: #343a40;
  text-decoration: none;
}
.feature-box p {
  margin-bottom: 0;
  font-weight: 500;
}
.feature-box .image {
  margin: 10px 0 15px;
}

.astrologers-wrapper {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 16px;
}
.astrologers-wrapper .astro-small-card {
  text-align: center;
  border: 1px solid #eaeaea;
  padding: 15px;
  flex: 1 1 23%;
  border-radius: 6px;
}
.astrologers-wrapper .astro-small-card p {
  margin-bottom: 0;
}
.astrologers-wrapper .astro-small-card .astro-image {
  width: 85px;
  height: 85px;
  outline: 2px solid rgba(18, 206, 41, 0.4);
  border: 2px solid #FFFFFF;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto 10px auto;
}
.astrologers-wrapper .astro-small-card .astro-image img {
  width: 100%;
}
.astrologers-wrapper .astro-small-card.busy .astro-image {
  outline-color: rgba(253, 67, 68, 0.4);
}
.astrologers-wrapper .astro-small-card .astro-name {
  font-size: 16px;
  font-weight: 700;
}
.astrologers-wrapper .astro-small-card .astro-name a {
  color: #343a40;
  text-decoration: none;
}
.astrologers-wrapper .astro-small-card .online-status {
  color: #12ce29;
  font-size: 14px;
}

/* modal box */
.modal .modal-md {
  max-width: 500px;
}
.modal.signupPopup .modal-header {
  display: block;
  padding: 18px 0;
}
.modal.signupPopup .modal-header .modal-title {
  font-weight: 400;
}
.modal.signupPopup .formWrapper {
  max-width: 300px;
  margin: 0 auto;
}
.modal.signupPopup .modal-body {
  background-color: #f4f4f4;
  padding: 30px 24px;
}
.modal.signupPopup .modal-body .helpText {
  margin-bottom: 30px;
}
.modal.signupPopup .login-field {
  font-family: FontAwesome;
  position: relative;
}
.modal.signupPopup .login-field:before, .modal.signupPopup .login-field:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  font-size: 20px;
}
.modal.signupPopup .login-field:after {
  left: 27px;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
}
.modal.signupPopup .login-field input[type=tel] {
  padding-left: 60px;
  border: 1px solid #eaeaea;
  font-family: "DM Sans", sans-serif;
}
.modal.signupPopup .login-field input[type=tel]:focus {
  border-color: #808284;
  box-shadow: none;
}
.modal.signupPopup .otp-field {
  display: flex;
  justify-content: center;
}
.modal.signupPopup .otp-field input[type=tel] {
  width: 38px;
  margin-right: 15px;
  text-align: center;
}
.modal.signupPopup .otp-field input[type=tel]:focus {
  border-color: #808284;
  box-shadow: none;
}
.modal.signupPopup .otp-field input[type=tel]:last-child {
  margin-right: 0;
}
.modal.signupPopup p.disabled {
  color: #808284;
  font-size: 14px;
}
.modal.signupPopup a {
  color: #FD7E14;
}
.modal.signupPopup a.disabled {
  color: #808284;
  margin-top: 10px;
  display: block;
  font-size: 14px;
}

/***************Calculator Page Start***********************/
.mt-025 {
  margin-top: 2.5rem;
}

.mt-30 {
  margin-top: 30px;
}

.mt-15 {
  margin-top: 15px;
}

.dth-cal .section-heading {
  text-transform: none;
}

.breadcrumb {
  padding: 10px 0 24px 0px;
  background-color: #ffffff;
  margin-bottom: 0px !important;
}
.breadcrumb .breadcrumb-text {
  color: #606366;
  font-size: 14px;
}
.breadcrumb .breadcrumb-text a {
  color: #FD7E14;
  cursor: pointer;
  text-decoration: none;
}

.death-calculator-section {
  padding-top: 0;
}
.death-calculator-section .heart-image {
  border: 1px solid #C3C3C3;
  border-radius: 20px;
  padding: 20px;
  background-color: #f4f4f4;
}
.death-calculator-section .heart-image img.img-fluid {
  width: 100%;
}

.death-calculator-form-section {
  background-color: #f8f8f8;
}
.death-calculator-form-section .form-group > .select-dropdown::after {
  content: "";
  background-image: url("../../img/arrow-down-icon.svg");
  background-repeat: no-repeat;
  width: 14px;
  height: 8px;
  position: absolute;
  top: 20px;
  right: 12px;
}
.death-calculator-form-section label {
  margin-bottom: 6px;
}
.death-calculator-form-section p {
  width: 85%;
  margin: 0 auto;
}
.death-calculator-form-section .calculator-form {
  margin-top: 30px;
  text-align: left;
}
.death-calculator-form-section .calculator-form button.btn {
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 10px;
  height: 45px;
}
.death-calculator-form-section .form-control {
  background-color: #fcfcfc !important;
  font-size: 16px;
  height: 45px;
}
.death-calculator-form-section select {
  height: 45px;
}
.death-calculator-form-section .form-control:focus {
  border-color: #ced4da;
  box-shadow: none;
}

.free-death-calculator p {
  text-align: left;
}
.free-death-calculator ul li {
  margin-bottom: 6px;
}

#appDownloadModal .modal-header,
#calculatorModal .modal-header {
  background-color: #ffffff;
  border: 0;
  border-radius: 20px;
  min-height: 46px;
}
#appDownloadModal .close,
#calculatorModal .close {
  background-color: #606366;
  padding: 1px;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  place-items: center;
  justify-content: center;
}
#appDownloadModal .modal-content,
#calculatorModal .modal-content {
  border-radius: 20px;
  border: none;
}
#appDownloadModal .modal-body,
#calculatorModal .modal-body {
  padding: 0.5rem 2rem;
}
#appDownloadModal .modalContent,
#calculatorModal .modalContent {
  text-align: center;
  overflow-y: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
#appDownloadModal .modalContent .modal-image,
#calculatorModal .modalContent .modal-image {
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  place-items: center;
  margin: 0 auto;
}
#appDownloadModal .modalContent .modal-image img,
#calculatorModal .modalContent .modal-image img {
  width: 100%;
}
#appDownloadModal .modalContent h2,
#calculatorModal .modalContent h2 {
  color: #212529;
  line-height: initial;
  margin: 0px;
}
#appDownloadModal .modalContent p,
#calculatorModal .modalContent p {
  width: 85%;
  margin: 18px auto;
  color: #343a40;
  font-weight: 500;
  font-size: 18px;
}
#appDownloadModal .modalContent p:last-child,
#calculatorModal .modalContent p:last-child {
  margin-bottom: 0px;
}
#appDownloadModal .modalContent::-webkit-scrollbar,
#calculatorModal .modalContent::-webkit-scrollbar {
  width: 6px;
}
#appDownloadModal .modalContent::-webkit-scrollbar-track,
#calculatorModal .modalContent::-webkit-scrollbar-track {
  border-radius: 10px;
}
#appDownloadModal .modalContent::-webkit-scrollbar-thumb,
#calculatorModal .modalContent::-webkit-scrollbar-thumb {
  background: #b0b1b3;
  border-radius: 10px;
}
#appDownloadModal .modalContent::-webkit-scrollbar-thumb:hover,
#calculatorModal .modalContent::-webkit-scrollbar-thumb:hover {
  background: #606366;
}
#appDownloadModal button.btn,
#calculatorModal button.btn {
  padding-left: 40px;
  padding-right: 40px;
  height: 45px;
}
#appDownloadModal .modal-footer,
#calculatorModal .modal-footer {
  justify-content: center;
  border: 0;
  padding-bottom: 25px;
}

.light {
  font-weight: 500;
}
.light span {
  color: #C3C3C3;
}
.light span.active {
  color: #FD7E14;
}

span#meter-score {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-size: 40px;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}
span#meter-score::after {
  content: "%";
}

.progress-bar-content {
  margin-top: 50px !important;
}

.percent-label {
  position: absolute;
  display: inline-block;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  margin: 10px auto;
  font-size: 16px;
  font-weight: 500;
}

.textonImage {
  position: relative;
}
.textonImage h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/****************Calculator Page End************************/


.btn-getApp {
  display: none;
}

.custom-page nav#mainNav {
  background: #ffcc33;
  height: 48px;
}
.custom-page #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #212529;
}
.custom-page #mainNav .navbar-nav .nav-item {
  position: relative;
}
.custom-page span.highlighter {
  background-color: #f00;
  position: absolute;
  top: -1px;
  right: -12px;
  border-radius: 13px;
  color: #ffffff;
  font-size: 9px;
  padding: 0px 6px;
  height: 15px;
  display: flex;
  place-items: center;
  justify-content: center;
}
.custom-page .large_menu {
  width: 465px;
  padding: 10px;
  background: #ffffff;
  border: none;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.08), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  border-radius: 0px;
  top: 37px;
}
.custom-page .large_menu li {
  width: 45%;
  float: left !important;
  margin-right: 5%;
  border-bottom: 1px solid #eaeaea;
  padding: 9px 0;
}
.custom-page .large_menu li a {
  color: #212529;
  text-decoration: none;
  padding-left: 20px;
}
.custom-page .large_menu li:hover {
  background-color: #ffcc33;
}
.custom-page .top-header {
  height: 80px;
  display: flex;
  place-items: center;
}
.custom-page .container.top-navigation .top-header-buttons {
  text-align: right;
  margin-top: 6px;
}
.custom-page .container.top-navigation .top-header-buttons a {
  border: 1px solid #606366;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  color: #606366;
  font-size: 15px;
  vertical-align: middle;
  margin: 0 4px;
  transition: all linear 0.2s;
}
.custom-page .container.top-navigation .top-header-buttons a img {
  width: 18px;
  margin: 0px 3px 3px 0px;
  transition: all linear 0.2s;
}
.custom-page .container.top-navigation .top-header-buttons a.active {
  background-color: #fd7e14;
  border-color: #fd7e14;
  color: #ffffff;
}
.custom-page .container.top-navigation .top-header-buttons a:last-child {
  margin-right: 0px;
}
.custom-page .container.top-navigation .top-header-buttons a:hover {
  background-color: #fd7e14;
  border-color: #fd7e14;
  color: #ffffff;
}
.custom-page .container.top-navigation .top-header-buttons a:hover img {
  filter: brightness(0%) invert(100%);
}
.custom-page h1 {
  font-size: 35px;
  color: #212529;
  margin-bottom: 10px;
  line-height: 35px;
}
.custom-page .new-section-padding {
  padding-top: 70px;
  padding-bottom: 70px;
}
.custom-page h2 {
  font-size: 29px;
  line-height: 29px;
}
.custom-page h3 {
  font-size: 24px;
  line-height: 29px;
}
.custom-page .heading-bottom-20 {
  margin-bottom: 20px;
}
.custom-page .navbar-expand-lg .navbar-nav .nav-link:first-child {
  padding-left: 0rem;
}
.custom-page .dark-top-footer-background {
  background-color: #2c2d2e;
}
.custom-page .dark-top-footer-background ul li {
  border-bottom: 1px solid rgba(244, 244, 244, 0.2);
  padding: 7px 0px;
}
.custom-page .view-all {
  margin-top: 14px;
  display: flex;
  justify-content: center;
  place-items: center;
}
.custom-page .view-all a {
  height: 45px;
  display: flex;
  place-items: center;
  justify-content: center;
}
.custom-page .astro-card-new {
  background-image: url("../../img/astro-card-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  min-height: 450px;
  margin-bottom: 16px;
  border-radius: 6px;
  position: relative;
}
.custom-page .astro-card-new .astro-detail {
  padding: 16px;
}
.custom-page .astro-card-new .astro-detail span.astro-live {
  background-color: #fd4344;
  color: #ffffff;
  border-radius: 13px;
  padding: 4px 13px 4px 24px;
  font-size: 14px;
  position: relative;
  text-transform: uppercase;
}
.custom-page .astro-card-new .astro-detail span.astro-live::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: #ffffff;
  top: 9px;
  left: 8px;
  border-radius: 50%;
  -webkit-animation: blinker 1s linear infinite;
          animation: blinker 1s linear infinite;
}
.custom-page .astro-card-new .astro-detail span.astro-upcoming {
  background-color: transparent;
  border-radius: 13px;
  padding: 4px 13px;
  font-size: 14px;
  font-weight: 500;
  color: #c3c3c3;
  border: 1px solid #c3c3c3;
}
.custom-page .astro-card-new .astro-detail .astro-image-new {
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto 10px auto;
  width: 125px;
  height: 125px;
  margin-top: 35px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  outline-width: 0px;
}
.custom-page .astro-card-new .astro-detail .astro-image-new img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border: 4x solid transarent;
  border-radius: 100%;
}
.custom-page .astro-card-new .astro-detail .astro-name a {
  color: #ffffff !important;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}
.custom-page .astro-card-new .astro-detail .astro-title {
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  margin: 29px 0px 15px;
}
.custom-page .astro-card-new .astro-detail .astro-type {
  justify-content: center;
  margin-top: 0px !important;
  height: auto !important;
  color: #eaeaea;
  font-size: 14px;
  font-weight: 300 !important;
}
.custom-page .astro-card-new .astro-detail .astro-availability {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.custom-page .astro-card-new .astro-detail .astro-availability .btn.btn-theme {
  border: 1px solid #ffffff;
  border-radius: 6px;
  font-size: 16px;
  letter-spacing: 0px;
  transition: all linear 0.2s;
  font-weight: 500;
}
.custom-page .astro-card-new .astro-detail .astro-availability .btn.btn-theme:hover {
  border-color: #fd7e14;
  background-color: #fd7e14;
  color: #ffffff;
}
.custom-page .astro-card-new .astro-detail .astro-availability .theme-green {
  color: #12ce29;
  border: 1px solid #12ce29 !important;
}
.custom-page .astro-card-new .astro-detail .astro-availability .theme-green:hover {
  background-color: #12ce29 !important;
  border-color: #12ce29 !important;
}
.custom-page .astro-card-new .astro-detail .astro-availability .theme-disabled {
  background-color: #c3c3c3 !important;
  border-color: #c3c3c3 !important;
  color: #343a40;
}
.custom-page .astro-card-new .astro-detail .astro-availability .theme-disabled:hover {
  background-color: #c3c3c3 !important;
  border-color: #c3c3c3 !important;
  color: #343a40 !important;
}
.custom-page .astro-card-new .astro-detail .astro-availability .theme-disabled img {
  margin-bottom: 3px;
  margin-right: 3px;
}
@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.custom-page .downloadAppModal .modal-body {
  padding: 0.5rem 2rem 2rem !important;
}
.custom-page .downloadAppModal .modal-body .modalContent p.heading-text {
  width: 95%;
  margin: 0px auto 28px auto !important;
  font-weight: 400 !important;
}
.custom-page .downloadAppModal .modal-body .modalContent p.download-text {
  font-size: 20px !important;
  font-weight: 900 !important;
}
.custom-page .downloadAppModal .modal-body .modalContent .modal-image {
  width: auto !important;
  height: auto !important;
}
.custom-page .downloadAppModal .modal-body .modalContent .modal-image img {
  width: 138px !important;
  margin: 5px;
}

.faq-section #accordion .card button {
  position: relative;
}
.faq-section #accordion .card button::after {
  position: absolute;
  top: 20px;
  right: 12px;
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  margin-left: auto;
  content: "";
  background-image: url("../../img/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 0.8rem;
  transition: transform 0.3s ease-in-out;
}

.faq-section #accordion .card button:not(.collapsed)::after {
  background-image: url("../../img/icon-arrow-down.svg");
  transform: rotate(-180deg);
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-13 {
  margin-bottom: 13px;
}

.mb-30 {
  margin-bottom: 30px;
}


.sticker-section {
  background-color: #ffcc33;
  height: 130px;
  display: flex;
}
.sticker-section img {
  width: 100%;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
}
.sticker-section .sticker-content {
  display: flex;
  justify-content: center;
  place-items: start;
  flex-direction: column;
  padding-left: 50px;
}
.sticker-section .sticker-content h2 {
  font-family: "DM Sans", sans-serif;
  margin-bottom: 15px;
}
.sticker-section .sticker-content a.consult-button {
  background-color: #212529;
  color: #ffffff;
  border-radius: 6px;
  padding: 8px 35px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.right-section-1 {
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
  border-radius: 6px;
}

#scroll::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

#scroll::-webkit-scrollbar {
  width: 8px;
}

#scroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #c3c3c3;
}

.right-section-heading {
  background-color: #f4f4f4;
  padding: 12px 14px;
}
.right-section-heading p {
  margin-bottom: 0px;
  font-size: 17px;
  font-weight: 500;
  color: #343a40;
}

.right-section-1.colored .right-section-heading {
  background-color: #fd7e14;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.right-section-1.colored .right-section-heading p {
  color: #ffffff;
}

.right-section-content {
  max-height: 256px;
  overflow-y: scroll;
}
.right-section-content ul {
  list-style: none;
  padding: 0px;
  margin: 0;
}
.right-section-content ul li {
  padding: 8px 35px;
  border-bottom: 1px solid #eaeaea;
  position: relative;
}
.right-section-content ul li:before {
  content: "";
  background-image: url("../../img/icon-arrow-black.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 15px;
  left: 16px;
  width: 6px;
  height: 8px;
}
.right-section-content ul li a {
  color: #212529;
  text-decoration: none;
}

.right-section-1.colored .right-section-content ul li {
  padding: 8px 16px;
  position: relative;
}
.right-section-1.colored .right-section-content ul li:before {
  content: "";
  background-image: url("../../img/icon-arrow-orange-circle.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 13px;
  left: unset;
  right: 16px;
  width: 17px;
  height: 17px;
}

#blog_carousels .item {
  border: 1px solid #eaeaea;
}
#blog_carousels .item .blog-content {
  padding: 12px;
}
#blog_carousels .item .blog-content p {
  margin-bottom: 0px;
}
#blog_carousels .item .blog-content p a {
  text-decoration: none;
  color: #212529;
  font-weight: 500;
}
#blog_carousels .item .blog-content .blog-time {
  font-size: 14px;
  color: #606366;
  margin-top: 10px;
}

.theme-color {
  color: #ed7b1d;
}
.theme-color:hover {
  color: #ed7b1d;
  text-decoration: none;
}

.terms-condition h4 {
  font-size: 24px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif !important;
  text-transform: lowercase !important;
}
.terms-condition h4::first-letter {
  text-transform: capitalize !important;
}

.card-core-value {
  border-radius: 8px;
  border: 1px solid #bbbbbb;
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
  padding: 30px 0px;
  margin-bottom: 20px;
}
.card-core-value .card-core-image {
  width: 37%;
}
.card-core-value .card-core-image img {
  width: 100%;
}
.card-core-value .card-core-title {
  margin-top: 15px;
  color: #454545;
}

.card-career-passion-details {
  border-radius: 8px;
  border: 1px solid #bbbbbb;
  position: relative;
  padding: 20px 30px;
  margin-bottom: 16px;
}
.card-career-passion-details .card-career-passion-title {
  font-weight: 600;
  color: #1e1a17;
  font-size: 20px;
  margin-bottom: 8px;
}
.card-career-passion-details .card-career-passion-text {
  color: #454545;
  font-size: 16px;
  font-weight: 400;
}
.card-career-passion-details .card-career-passion-text span {
  font-weight: 500;
}
.card-career-passion-details .card-career-passion-viewBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 6px;
  border: 1px solid #2f3338;
  color: #212529;
  height: 38px;
  line-height: 38px;
  padding: 0 18px;
  transition: all linear 0.2s;
}
.card-career-passion-details .card-career-passion-viewBtn:hover {
  text-decoration: none;
  background-color: #2f3338;
  color: #ffffff;
}

.bg-drop-resume {
  background-color: #ffcc33;
  border-radius: 8px;
  color: #212529;
  display: flex;
  justify-content: space-between;
  place-items: center;
  flex-direction: row;
  padding: 0 40px;
  height: 115px;
}
.bg-drop-resume .drop-resume-details .drop-resume-title {
  color: #212529;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
}
.bg-drop-resume .drop-resume-details .drop-resume-content {
  margin-bottom: 0px;
  margin-top: 5px;
}
.bg-drop-resume .drop-resume-btn {
  border: 1px solid #56585b;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 0px 35px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  transition: all linear 0.2s;
}
.bg-drop-resume .drop-resume-btn:hover {
  background-color: #f1f1f1;
}


.date-padding {
  padding: 0px;
}

.text-right {
  text-align: right;
}

@media (max-width: 992px) {
  .d-display-none {
    display: none;
  }
  .dark-background-menu {
    content: "";
    width: 144%;
    height: 100vh;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
  }
  #mainNav #navbarResponsive {
    position: fixed;
    z-index: 999;
    width: 70%;
    height: 100vh;
    left: 0;
    top: 0;
    overflow-y: auto;
  }
  #mainNav #navbarResponsive:before {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.8;
  }
  #mainNav #navbarResponsive button {
    position: absolute;
    z-index: 99;
    left: 300px;
  }
  #mainNav #navbarResponsive.show .navbar-nav {
    margin-left: 0px !important;
  }
  #mainNav #navbarResponsive .navbar-nav {
    background-image: url(../../img/instaastro-logo.svg);
    background-repeat: no-repeat;
    background-size: 155px;
    background-position: 20px 20px;
    background-color: #fff;
    max-width: 350px;
    min-height: 100%;
    margin-left: -350px !important;
    padding: 80px 0;
    position: relative;
    transition: 0.4s all;
  }
  #mainNav #navbarResponsive .navbar-nav .nav-item {
    padding: 0 20px;
  }
  #mainNav #navbarResponsive .navbar-nav .nav-item.active {
    border-left: 3px solid #FD7E14;
  }
  .pointers .pointer-item:nth-child(2) {
    border: none;
    border-top: 1px solid #606366;
    border-bottom: 1px solid #606366;
    margin: 20px 0;
    padding: 20px 0;
  }
  .in-news .news-wrapper .new-item {
    width: 25%;
  }
  
  .icon-box {
    margin-bottom: 60px;
  }
  
  .tarot-image-section .tarot-card {
    width: 22%;
  }
  .custom-page span.highlighter {
    right: unset;
    left: 49px;
  }
  .custom-page .navbar-nav ul.dropdown-menu.show li {
    padding: 0.5rem 1rem;
  }
  .custom-page .large_menu {
    width: 100% !important;
    padding: 0px !important;
    background: #ffffff;
    border: none;
    box-shadow: unset;
    border-radius: unset;
    top: unset;
  }
  .custom-page .large_menu li {
    width: 100% !important;
    float: unset;
    margin-right: 0px !important;
    border-bottom: none !important;
    padding: unset;
  }
  .custom-page .large_menu li a {
    padding-left: 0px !important;
  }
  .custom-page .large_menu li:hover {
    background-color: transparent !important;
  }
  .consultaion-details,
.astrology-buttons {
    width: 100%;
  }
  .section-padding-top-0 {
    padding-top: 0 !important;
  }
  .mob-astro-details {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 30px;
  }
  .mob-astro-details .astrologer-image {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    outline: 2px solid rgba(18, 206, 41, 0.4);
    border: 2px solid #ffffff;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .mob-astro-details .astro-left-details {
    text-align: center;
  }
  .mob-astro-details .astro-left-details .astrology-rating {
    margin-left: 0;
  }
  .mob-astro-details .mob-astro-details-content {
    padding-left: 15px;
  }
  .mob-astro-details .mob-astro-details-content h1 {
    line-height: 20px;
  }
  .mob-astro-details .mob-astro-details-content p {
    margin-bottom: 2px;
  }
  .mob-astro-details .mob-astro-details-content .astrologer-follow-btn {
    margin-top: 16px;
  }
  .astro-skills span {
    border: 1px solid #cacaca;
    border-radius: 4px;
    padding: 3px 12px;
    margin: 0 8px 10px 0;
    display: inline-block;
  }
  .btn-getApp {
    display: block;
  }
  .astrology-buttons {
    width: 100%;
    position: fixed;
    bottom: -1px;
    left: 0px;
    z-index: 999999;
    background-color: #ffffff;
    margin: 0 !important;
    padding: 10px 12px;
    border: none;
    box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.0705882353);
  }
  .lagna_prediction table {
    width: 100%;
  }
  .rahukaal-details {
    max-width: 100%;
    margin-bottom: 15px !important;
  }
}
@media (max-width: 767px) {
  .custom-page .navbar {
    padding: 0;
  }
  .tools-section {
    padding: 50px 15px !important;
  }
  .dark-background-menu {
    content: "";
    width: 144%;
    height: 100vh;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
  }
 

  .page-title {
    font-size: 25px;
    line-height: 30px;
  }
  h1 {
    font-size: 35px;
    line-height: 30px;
  }
  h2 {
    font-size: 30px;
    line-height: 30px;
  }
  h3 {
    margin-bottom: 0.3rem;
  }
  .custom-page h1,
.custom-page h2 {
    font-size: 24px;
    line-height: 29px;
  }
  .subtitle {
    font-size: 18px;
    line-height: 27px;
  }
  .section-padding {
    padding: 50px 0;
  }
  .section-padding-40 {
    padding: 30px 0;
  }
  .section-padding-bottom {
    padding-bottom: 0;
  }
  section.search-section {
    padding-bottom: 0;
  }
  .btn.btn-border-only {
    padding: 7px 9px;
  }
  #page-content .home-astrologers > div {
    flex: 1 1 100%;
  }
  #page-content .astro-card .astro-detail .astro-lang {
    font-size: 12px;
  }
  #page-content .astro-card .astro-detail .astro-type {
    font-size: 10px;
    line-height: 15px;
  }
  #page-content .astro-card.busy .astro-availability .wait-time {
    font-weight: 500;
  }
  .category-section {
    background-color: #f4f4f4;
    padding: 12px;
  }
  
  section.features .col-6 {
    padding-left: 8px;
    padding-right: 8px;
  }
  .article-carousel .owl-stage-outer {
    margin-left: -50px;
  }
  .image-title-box .box-title {
    font-size: 18px;
  }
  .promise-box p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }
 
  .gray-list {
    padding: 0;
  }
  .gray-list li {
    flex: 1 1 100%;
    padding: 10px;
    font-size: 14px;
  }
  .icon-box {
    min-height: auto;
  }
  .icon-box .icon {
    left: 40%;
  }
  .gender-section .gender-option {
    height: 120px;
  }
  .gender-section .gender-option .gender img {
    width: 50px;
    margin-bottom: 9px;
  }
  .gender-section .gender-option .gender p {
    font-size: 16px;
  }
  .name-table .tbl-head, .name-table .tbl-row {
    display: none;
  }
  .name-table .tbl-row {
    display: block;
    border: none;
    margin-bottom: 8px;
  }
  .name-table .tbl-row > div {
    width: 100%;
    padding: 8px 14px;
    border-right: 1px solid #C3C3C3;
    border-top: 1px solid #C3C3C3;
    border-left: 1px solid #C3C3C3;
  }
  .name-table .tbl-row > div:nth-child(2) {
    width: 100%;
  }
  .name-table .tbl-row > div:last-child {
    border-right: 1px solid #C3C3C3;
    border-bottom: 1px solid #C3C3C3;
  }
  footer .footer-apps {
    text-align: left;
  }
  .death-calculator-section {
    padding-top: 0 !important;
  }
  .tab {
    width: 100%;
    justify-content: center;
  }
  .tab .tablinks {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
  }
  .mob-dsp-none {
    display: none;
  }
  .death-calculator-form-section p,
#deathCalculateModal .modalContent p {
    width: 100%;
  }
  .death-calculator-form-section label,
#deathCalculateModal .modalContent label {
    margin-bottom: 4px !important;
    font-size: 14px;
  }
  .death-calculator-form-section .calculator-form button.btn,
#calculatorModal .modalContent button.btn {
    width: 98%;
  }
  #calculatorModal .modalContent p {
    width: 100%;
  }
  #calculatorModal .modal-body {
    padding: 0.5rem;
  }
  #calculatorModal .modalContent {
    text-align: center;
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 150px;
    left: 0.5rem;
    right: 0.5rem;
  }
  #calculatorModal .modalContent p {
    line-height: 27px;
  }
  #calculatorModal .modal-footer {
    padding: 0.75rem;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.1019607843);
  }
  #calculatorModal .modal-footer .btn {
    width: 100%;
  }
  #calculatorModal .modal-dialog {
    padding: 0;
    margin: 0;
    max-width: 100vw;
  }
  #calculatorModal .modal-dialog .modal-content {
    border-radius: 0px;
    border: none;
    height: 100vh;
    overflow: hidden;
  }
  span.error-message {
    font-size: 12px;
    line-height: 18px;
    margin-top: 3px;
  }
  .palm-reading ul {
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0px 6px;
  }
  .mt-025 {
    margin-top: 24px;
  }
  table.full-width-table thead th {
    font-weight: 600;
    padding: 10px;
  }
  table.full-width-table tbody td {
    padding: 10px;
  }
  .tarot-image-section .tarot-card {
    width: 29%;
  }
  .psychic-reading {
    margin-top: 10px;
  }
  .psychic-reading-heading {
    margin: 10px 0px;
    font-size: 18px;
  }
  .d-display-none {
    display: none;
  }
  .btn-getApp {
    display: block;
  }
  .logo-section {
    display: flex;
    justify-content: space-between;
    place-items: center;
    margin-right: 0px;
    margin-left: 0px;
  }
  .logo-section .btn-getApp {
    background-color: #212529;
    color: #ffffff;
    padding: 0px 12px;
    border-radius: 20px;
    font-size: 14px;
    text-decoration: none;
  }
  .custom-page nav#mainNav {
    background: #ffffff;
    height: auto;
    padding-left: 0;
  }
  .custom-page nav#mainNav .navbar-toggler {
    background-color: transparent;
    position: fixed;
    top: 15px;
    left: 0;
  }
  .custom-page nav#mainNav .navbar-toggler img {
    width: 18px;
  }
  .custom-page .mobile-navigation {
    display: flex;
    justify-content: center;
    place-items: center;
  }
  .custom-page .top-header {
    height: auto;
  }
  .custom-page .top-header .mob-border-light {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
  }
  .custom-page a.navbar-brand.js-scroll-trigger {
    margin: 15px 0px;
    margin-left: 30px;
  }
  .custom-page .container.top-navigation .top-header-buttons {
    text-align: center;
    margin-top: 0px;
    white-space: no-wrap;
    padding: 0px;
    display: flex;
    justify-content: center;
    place-items: center;
  }
  .custom-page .container.top-navigation .top-header-buttons a {
    padding: 7px 22px;
    margin: 6px 12px;
    font-size: 16px;
    border: 1px solid #fd7e14;
    background-color: #fd7e14;
    color: #ffffff;
    height: 40px;
  }
  .custom-page .container.top-navigation .top-header-buttons a img {
    filter: brightness(0%) invert(100%);
  }
  .custom-page .view-all a {
    width: 100%;
  }
  .custom-page .navbar-nav ul.dropdown-menu.show {
    border: none;
    padding: 0;
  }
  .custom-page .navbar-nav ul.dropdown-menu.show li {
    padding: 0.5rem 1rem;
  }
  .custom-page .navbar-nav a {
    color: #212529 !important;
  }
  .custom-page .mob-center {
    text-align: center;
  }
  .custom-page .mob-pd-30 {
    padding: 0 30px;
  }
  .custom-page .astro-card-new {
    min-height: 490px;
  }
  .custom-page .astro-card-new .astro-detail .astro-image-new {
    width: 145px !important;
    height: 145px !important;
    margin-bottom: 17px !important;
    margin-top: 45px !important;
  }
  .custom-page .astro-card-new .astro-detail .astro-type {
    font-size: 14px !important;
    line-height: 20px !important;
  }
  .custom-page .astro-card-new .astro-detail .astro-availability {
    width: 100%;
  }
  .custom-page .astro-card-new .astro-detail .astro-availability .btn.btn-theme {
    width: 92%;
    display: block;
    margin: 0 auto;
  }
  #appDownloadModal .modalContent p {
    width: 100%;
  }
  .mob-p-0 {
    padding: 0;
  }
  .sticker-section {
    height: auto;
    flex-direction: column;
  }
  .sticker-section .col-md-5 {
    width: 100%;
  }
  .sticker-section .col-md-5 img {
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  .sticker-section .col-md-7.sticker-content {
    width: 100%;
    place-items: center;
    padding: 20px 0px;
  }
  .navbar-brand img {
    width: 150px;
  }
  .bg-drop-resume {
    padding: 0px 10px;
    height: 170px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  .bg-drop-resume .drop-resume-details {
    margin-bottom: 15px;
  }
  .bg-drop-resume .drop-resume-details .drop-resume-title {
    font-size: 22px;
  }
}
@media (max-width: 475px) {
  span.error-message {
    font-size: 12px;
    line-height: 18px;
    margin-top: 3px;
  }
  h3 {
    font-size: 25px;
    line-height: 37px;
  }
  h4 {
    font-size: 20px;
    line-height: 30px;
  }
  .pagination li a {
    width: 34px;
    height: 34px;
    font-size: 13px;
  }
  .modal.signupPopup .otp-field input[type=tel] {
    margin-right: 2px;
  }
  .breadcrumb {
    margin-bottom: 0px;
  }
  .death-calculator-section {
    padding-top: 0px;
  }
  .mob-dsp-none {
    display: none;
  }
  .death-calculator-form-section p,
#deathCalculateModal .modalContent p {
    width: 100%;
  }
  .death-calculator-form-section label,
#deathCalculateModal .modalContent label {
    margin-bottom: 4px !important;
    font-size: 14px;
  }
  
  .light {
    font-size: 22px;
  }
  .tab {
    width: 100%;
    justify-content: center;
  }
  .tab .tablinks {
    width: 45px;
    height: 45px;
    font-size: 22px;
    margin: 5px;
  }
  .nowrap {
    white-space: nowrap;
  }
  .death-calculator-form-section .calculator-form button.btn,
#calculatorModal .modalContent button.btn {
    width: 98%;
  }
  #calculatorModal .modal-body {
    padding: 0.5rem;
  }
  #calculatorModal .modalContent {
    height: 100vh;
    overflow-y: auto;
    left: 0.5rem;
    right: 0.5rem;
    padding-bottom: 150px;
  }
  #calculatorModal .modalContent p.light-text {
    width: 100%;
    line-height: 21px;
  }
  #calculatorModal .light-background .sub-content ul li {
    font-size: 14px;
  }
  #calculatorModal .modal-footer {
    padding: 0.75rem;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.1019607843);
  }
  #calculatorModal .modal-footer .btn {
    width: 100%;
  }
  #calculatorModal .modal-dialog {
    padding: 0;
    margin: 0;
    max-width: 100vw;
  }
  #calculatorModal .modal-dialog .modal-content {
    border-radius: 0px;
    border: none;
    height: 100vh;
    overflow: hidden;
  }
  .custom-page .container.top-navigation .top-header-buttons a {
    margin: 6px 3px;
    font-size: 16px;
    height: 40px;
  }
 
}
@media (max-width: 360px) {
  
  .color-description .color_code {
    margin-left: 38px;
  }
}/*# sourceMappingURL=style.css.map */


.select-dropdown {
    position: relative;
    display: block;
    max-width: 100%;
    margin: 0 0px 0 0;
  }
  .select-dropdown::last-child {
    margin-right: 0px;
  }
  .select-dropdown__button {
    padding: 0.375rem 0.75rem;
    background-color: #fcfcfc;
    color: #212529; 
    border: 1px solid #C3C3C3;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    height: 45px;
  }
  .select-dropdown__button::focus {
    outline: none;
  }
  .select-dropdown__button .zmdi-chevron-down {
    position: absolute;
    right: 10px;
    top: 12px;
  }
  .select-dropdown__list {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    max-height: 182px;
    overflow: auto;
    margin: 0;
    padding: 0;
    border: 1px solid #C3C3C3;
    border-top: 0px solid transparent;
    list-style-type: none;
    opacity: 0;
    pointer-events: none;
    transform-origin: top left;
    transform: scale(1, 0);
    transition: all linear 0.2s;
    z-index: 2;
  }
  .select-dropdown__list.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1, 1);
  }
  .select-dropdown__list-item {
    display: block;
    list-style-type: none;
    padding: 6px 12px;
    background: #fcfcfc;
    cursor: pointer;
    color: #212529;
    text-align: left;
    transition: all ease-in-out 0.3s;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  .select-dropdown__list-item:hover {
    background-color: #FD7E14;
    color: #fff;
    transition: all ease-in-out 0.3s;
  }